<%- include('partials/header.ejs') %>

  <section>
    <div class="container">
      <h2>Sobre</h2>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Ações</h2>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Ajude uma ONG.</h2>
      <!-- render data -->
      <div>
        <% data.forEach((item) => { %>
          <!-- <p><%= item.id %></p> -->
          <p><span><strong><%= item.title %></strong></span></p>
          <p><span>Site: </span><a><%= item.site %></a></p>
          <p>Facebook: </span><a><%= item.facebook %></a></p>
          <p>Instagram: </span><a><%= item.instagram %></a></p>
        <% }); %>
      </div>
    </section>
    </div>

<%- include('partials/footer.ejs') %>
