<%- include('partials/header.ejs') %>

<!-- QUOTE -->
<section class="quote-section">
  <div class="quote-container">
    <blockquote>
      <p>
        <strong>
          “Nossos animais de estimação têm uma vida tão curta para passar conosco, e ainda assim, passam a maior parte do tempo esperando que voltemos para casa todos os dias. É impressionante o quanto de amor e alegria eles trazem para nossas vidas, e o quanto nos tornamos mais próximos uns dos outros por causa deles.”
        </strong>
      </p>
      <footer class="quote-author">
        <p>― John Grogan</p>
      </footer>
    </blockquote>
  </div>
</section>

<!-- ABOUT -->
<section class="about-section" id="sobre">
  <div class="about-content">
    <div class="about-text-box">
      <h2 class="header-text-sobre">Sobre</h2>
      <p class="about-text-inner">
        As Organizações Não Governamentais (ONGs) são entidades que não recebem nenhum tipo de auxílio financeiro do governo, ou seja, não atuam com fins lucrativos.</p>
      <p class="about-text-inner">
        Uma organização sem fins lucrativos de bem-estar animal tem como objetivo a prevenção da crueldade contra os animais, fornecer abrigo, cuidar de animais perdidos e abandonados.
      </p>
    </div>
    <div class="about-img">
      <img src="images/cat.jpg" alt="Cat">
    </div>
  </div>
</section>

<!-- ACTIVITIES -->
<section class="activities-section" id="atividades">
  <div class="container-activities">
    <h2 class="header-text-activities">Algumas das atividades realizadas</h2>
    <ul class="act-list">
      <li>
        <div class="service-card">
          <div class="card-icon">
            <ion-icon name="heart-outline" aria-hidden="true" size="large"></ion-icon>
          </div>
          <h3 class="card-title">Resgatar</h3>
          <p class="card-text">
            Resgatar, reabilitar e realojar cães, gatos e outros animais de situações de perigo e maus-tratos.
          </p>
          <div>
            <a href="#doacao" class="link">
              <span>Saiba mais &#8594;</span>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="service-card">
          <div class="card-icon">
            <ion-icon name="pulse"></ion-icon>
          </div>
          <h3 class="card-title">Castração</h3>
          <p class="card-text">
            A castração é uma das medidas mais eficazes para controlar a população de animais de rua e prevenir doenças.
          </p>
          <div>
            <a href="#doacao" class="link">
              <span>Saiba mais &#8594;</span>
            </a>
        </div>
      </li>
      <li>
        <div class="service-card">
          <div class="card-icon">
            <ion-icon name="medkit"></ion-icon>
          </div>
          <h3 class="card-title">Cuidados Médicos</h3>
          <p class="card-text">
            Providenciar cuidados veterinários, incluindo vacinação, tratamento de doenças e reabilitação.
          </p>
          <div>
            <a href="#doacao" class="link">
              <span>Saiba mais &#8594;</span>
            </a>
        </div>
      </li>
      <li>
        <div class="service-card">
          <div class="card-icon">
            <ion-icon name="school"></ion-icon>
          </div>
          <h3 class="card-title">Educação e Conscientização</h3>
          <p class="card-text">
            Promover campanhas de conscientização, palestras em escolas, materiais educativos e presença nas redes sociais.
          </p>
          <div>
            <a href="#doacao" class="link">
              <span>Saiba mais &#8594;</span>
            </a>
        </div>
      </li>
      <li>
        <div class="service-card">
          <div class="card-icon">
            <ion-icon name="thumbs-up"></ion-icon>
          </div>
          <h3 class="card-title">Programas de Voluntariado</h3>
          <p class="card-text">
            Programas de voluntariado para pessoas interessadas realizar suas atividades, contribuindo com seu tempo e habilidades.
          </p>
          <div>
            <a href="#doacao" class="link">
              <span>Saiba mais &#8594;</span>
            </a>
        </div>
      </li>
      <li>
        <div class="service-card">
          <div class="card-icon">
            <ion-icon name="paw"></ion-icon>
          </div>
          <h3 class="card-title">Programas de Adoção</h3>
          <p class="card-text">
            Facilitar a adoção responsável de animais selecionando cuidadosamente a melhor correspondência de perfil entre animais e famílias.
          </p>
          <div>
            <a href="#doacao" class="link">
              <span>Saiba mais &#8594;</span>
            </a>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- HELP -->
<section class="help-section" id="doacao">
  <div class="help-container">
    <h2 class="section-title">Ajude uma ONG</h2>
    <div class="help-grid">
      <% data.forEach((item) => { %>
        <article class="help-card">
            <div class="help-card-header">
                <h3 class="help-title"><%= item.title %></h3>
            </div>
            <div class="help-card-body">
                <p><strong>Site:</strong> 
                    <% if (item.site) { %>
                        <a href="<%= item.site %>" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i> <%= item.site %></a>
                    <% } else { %>
                        <span>Não disponível</span>
                    <% } %>
                </p>
                <p><strong>Facebook:</strong>
                    <% if (item.facebook) { %>
                        <a href="<%= item.facebook %>" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <% } else { %>
                        <span>Não disponível</span>
                    <% } %>
                </p>
                <p><strong>Instagram:</strong>
                    <% if (item.instagram) { %>
                        <a href="<%= item.instagram %>" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <% } else { %>
                        <span>Não disponível</span>
                    <% } %>
                </p>
            </div>
        </article>
    <% }); %>
    </div>
  </div>
</section>




<%- include('partials/footer.ejs') %>
